@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
}


body {
    background-image: url('/images/af97ef7c607be9bf58423121b4c7fc44.jpg');
    color:white;
    display: flex;
    font-family: sans-serif;
    /* background: rgb(200, 229, 247); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-weight: 600;
}

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 80%;
    background-color: white;
    border-radius: 5px;
    font-size: auto;
    margin: 5px;
    max-width: 860px;
    background-color:rgba(0, 0, 0, 0);
    
}

.cuestionario {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15%;
    
}

#inicio > p {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}

.question_title > p {
    font-size: 25px;
}

.elemento {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    /* background-color: rgb(224, 100, 100); */
    width: 95%;
    height: 100%;
}

.question_title {
    text-align: center;
}

#puntuacion {
    margin:20px;

}

input {
    margin: 5px;
}

#avanzar {
    background: rgb(81, 81, 241);
    color: white;
    border: 0;
    border-radius: 5px;
    height: 15%;
    width: 100px;  
    margin: 20px;
    font-size: 20px;
}

.ct-chart, .ct-chart2 {
    height: 50%;
    width: 90%;
    margin: 20px;
    background: white;
    border-radius: 5px;
    max-width: 860px;
    opacity: 0.8;

}

.inicio {
    height: 100%;
}

@media only screen and (min-width: 680px) {
   body {
       margin: 0;
       padding: 0;
   }

   #container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: row;
    margin: 10px 0;
    height: 80%;
   }

   .question_title {
       width: 100%;
   }

   #avanzar {
       display:flex;
       text-align: center;
       align-items: center;
       justify-content: center;
       align-content: center;
       width: 30%;
       max-width: 296px;
       margin: 5px;
       padding: 10px;
       height: 10%;
       
   }

   .cuestionario {
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       align-items: center;
       align-content: center;
       width: 40%;
       height: 20%;
    }

   .elemento {
       height: 100%;
   }

   input {
       margin: 5px;
   }
}


